* {
  margin: 0;
}

body {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}

.page_min_width {
  min-width: 440px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  padding: 2px 6px;

  .left-side {
    display: inherit;
    align-items: center;
    white-space: nowrap;

    a {
      display: inherit;
      text-decoration: none;
      color: black;
      font-size: large;

      .logo {
        display: inherit;
        margin-right: 6px;
        width: 30px;
      }

      .brand {
        display: inherit;
        align-items: center;
        font-weight: 800;
        font-size: larger;
      }
    }
  }

  .right-side {
    display: inherit;
    align-items: center;

    .border {
      display: inherit;
      border: 1px solid black;
      border-radius: 6px;
      margin-left: 8px;
      .panelBtn {
        display: inherit;
        background-color: gray;
        border: none;
        margin: 0 4px;
        padding: 2px 4px;
        transition: 200ms;
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        color: black;

        &:hover {
          color: white;
          transition: 200ms;
        }
      }
    }
  }
}
